.skills {
  background: #111c26;
  color: #fff;
  padding: 6rem 2rem;
}

.skills-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.skill-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 1.2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00bfff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}
.section-title{
    background: linear-gradient(90deg, #00fff7, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  letter-spacing: 1px;
  
  animation: shine 6s linear infinite;
}
